@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

html, body, section {
  scroll-behavior: smooth;
}

b{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#header {
  padding-top: 5px;
  font-family: Kalam;
  font-size: 60px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#download{
  background-color:#0d6efd;
  color: #ffff; 
  border: 2px solid #0d6efd;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#download:hover {
    background-color: #ffff;
    color: #0d6efd;
}

#projects {
  background-color: #e2edff;
}

#contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* .nama {
  width: 500px;
} */

.card {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: #e2edff8d;
}
.layer a > h3{
  width: 100%;
  font-weight: 500;
  color: #0d6efd;
  font-size: 30px;
  font-family: "Raleway";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}


/* html progress bar */
.OutBox {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox {
  width: 95%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: html 4s ease-in-out forwards;
}

/* css progress bar */
.OutBox2 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox2 {
  width: 90%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: css 4s ease-in-out forwards;
}

/* java progress bar */
.OutBox3 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox3 {
  width: 85%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: java 4s ease-in-out forwards;
}

/* bootstrap progress bar */
.OutBox4 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox4 {
  width: 87%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: bootstrap 4s ease-in-out forwards;
}

/* mysql progress bar  */
.OutBox5 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox5 {
  width: 80%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: sql 4s ease-in-out forwards;
}

/* javascript progress bar  */
.OutBox6 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox6 {
  width: 75%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: javascript 4s ease-in-out forwards;
}

/* php progress bar  */
.OutBox7 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox7 {
  width: 80%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: php 4s ease-in-out forwards;
}

/* laravel progress bar  */
.OutBox8 {
  width: 300px;
  height: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: black;
}

.InnerBox8 {
  width: 75%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #0d6efd);
  animation: laravel 4s ease-in-out forwards;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes bootstrap {
  0% {
    width: 0;
  }
  100% {
    width: 87%;
  }
}
@keyframes sql {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes php {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes laravel {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
